.review-box {
  width: 100%;
  display: flex;
  height: 500px;
}

.review-image-box {
  background-image: url("./image/soup1.jpeg");
  background-size: cover;

  width: 80%;
  height: 100%;
}

.review-desc-box {
  padding-left: 50px;
  font-family: "ChosunSg";
  width: 100%;
  height: 100%;
}

.review-title {
  font-family: "ChosunKg";
  font-size: 30px;
}

.review-address,
.review-site-address,
.review-phone-number,
.review-run-time {
  font-size: 20px;
  display: flex;
  padding: 30px 0px;
  border-bottom: 1px solid #f1f1f1;
}

.address-name,
.site-name,
.phone-name,
.run-time-name {
  width: 170px;
}

.banner-box-review {
  position: absolute;
  width: 100%;
  height: 600px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./image/1623060580333.jpg");
  background-size: cover;
  background-position: center;
  top: 0;
  z-index: 5;
  cursor: pointer;
}

.empty-box-review {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.review-write-box {
  color: white;
  font-family: "ChosunKg";
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbdbd;
  height: 75px;
  margin: 20px 30px 0px 0px;
  cursor: pointer;
}
