<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>진국</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <meta charset="windows-1252">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="top-section">
        <div class="top-section-box">
            <div class="logo">진국</div>
            <div class="nav-desc">국밥에 진심인 어려분을 환영합니다</div>
            <div class="login" onclick="changeToLogin()"><img src="../static/image/login.svg"/></div>
        </div>
    </div>
    <div class="empty-box"></div>
    <div class="title-text-block">
        <h3 class="title-text">
            <span class="up-title-text">뜨끈한 국밥을 찾아서</span> <br/>
            <span>진</span><span class="weak-title">심</span> <span>국</span><span class="weak-title">밥</span>
            <p class="title-desc">'진국'은 국밥맛집검색 전문 사이트입니다.</p>
        </h3>
    </div>
    <div class="main-list">
        {% for store in stores %}
            {% set title = store['title'] %}
            {% set address = store['address'] %}
            {% set img_url = store['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="footers">
    <div class="footer-logo"><img src="../static/image/logoblack.png" class="logo-img"></div>
    <div class="footer-menu">
        <div class="footer-menus">Main</div>
        <div class="footer-menus">Login</div>
        <div class="footer-menus">Detail</div>
        <div class="footer-menus">Contact</div>
    </div>
    <div class="footer-copyright">Copyright © 2021 Hanghae Team5</div>
</div>
<div class="banner-box"></div>


</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/sort.js"></script>
</body>
</html>
