<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>진국</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <meta charset="windows-1252">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="top-section">
        <div class="top-section-box">
            <div class="logo">진국</div>
            <div class="nav-desc">국밥에 진심인 어려분을 환영합니다</div>
            <div class="login" onclick="changeToLogin()"><img src="../static/image/login.svg"/></div>
        </div>
    </div>
    <div class="empty-box"></div>
    <div class="title-text-block">
        <h3 class="title-text">
            <span class="up-title-text">뜨끈한 국밥을 찾아서</span> <br/>
            <span>진</span><span class="weak-title">심</span> <span>국</span><span class="weak-title">밥</span>
            <p class="title-desc">'진국'은 국밥맛집검색 전문 사이트입니다.</p>
        </h3>
    </div>
    <div class="main-list">
        <select id="sorted" onchange="getSelectVale();" style="width: 200px">
            <option value="서울">서울특별시</option>
            <option value="부산">부산광역시</option>
            <option value="대구">대구광역시</option>
            <option value="인천">인천광역시</option>
            <option value="광주">광주광역시</option>
            <option value="대전">대전광역시</option>
            <option value="울산">울산광역시</option>
            <option value="세종">세종특별자치시</option>
            <option value="경기">경기도</option>
            <option value="강원">강원도</option>
            <option value="충북">충청북도</option>
            <option value="충남">충청남도</option>
            <option value="전북">전라북도</option>
            <option value="전남">전라남도</option>
            <option value="경북">경상북도</option>
            <option value="경남">경상남도</option>
            <option value="제주">제주특별자치도</option>
        </select>
        <section class="section-seoul">
            {% for area in seoul %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-busan">
            {% for area in busan %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-daegu">
            {% for area in daegu %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-incheon">
            {% for area in incheon %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-gwangju">
            {% for area in gwangju %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-daejeon">
            {% for area in daejeon %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-ulsan">
            {% for area in ulsan %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-sejong">
            {% for area in sejong %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-gyeonggi">
            {% for area in gyeonggi %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-gangwon">
            {% for area in gangwon %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-chungbuk">
            {% for area in chungbuk %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-chungnam">
            {% for area in chungnam %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-jeonbuk">
            {% for area in jeonbuk %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-jeonnam">
            {% for area in jeonnam %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-gyeongbuk">
            {% for area in gyeongbuk %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-gyeongnam">
            {% for area in gyeongnam %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="section-jeju">
            {% for area in jeju %}
            {% set title = area['title'] %}
            {% set address = area['address'] %}
            {% set img_url = area['img_url'] %}
            <div class="list">
                <div class="soup-img-box"><img src="{{ img_url }}" class="soup-img"></div>
                <div class="soup-desc-box">
                    <div class="soup-title">
                        <div class="title-stick"></div>
                        {{ title }}
                    </div>
                    <div class="soup-title-desc" id="address">{{ address }}</div>
                    <div class="view-more" onclick="changeToReview()"><span class="view-more-box">View more</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </section>
    </div>
</div>
<div class="footers">
    <div class="footer-logo"><img src="../static/image/logoblack.png" class="logo-img"></div>
    <div class="footer-menu">
        <div class="footer-menus">Main</div>
        <div class="footer-menus">Login</div>
        <div class="footer-menus">Detail</div>
        <div class="footer-menus">Contact</div>
    </div>
    <div class="footer-copyright">Copyright © 2021 Hanghae Team5</div>
</div>
<div class="banner-box"></div>


</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/sort.js"></script>
</body>
</html>








